@using SupportForSchoolActivities.Models.ViewModels;
@model JournalVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="d-flex align-items-center justify-content-center">
    <div class="align-content-center rounded p-3 shadow-sm btn btn-light" style="margin: 0 5px;">
        <h2 class="text-center">@Model.SchoolClassName, @Model.SubjectName</h2>
    </div>
</div>
<br />
<br />

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th class="text-center align-middle">Учень</th>
                @for (int i = 0; i < Model.DayOfLessons.Count; i++)
                {
                    <th class="text-center" width="5%">
                        <a asp-action="EditGrades" asp-route-date="@Model.DayOfLessons[i].ToString("yyyy-MM-dd")" asp-route-subjectName="@Model.SubjectName" class="btn btn-light mx-2">
                            @Model.DayOfLessons[i].ToString("dd/MM")
                        </a>                       
                    </th>
                }             
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Students.Count(); i++)
            {
                <tr>
                    <td>
                        <a asp-action="InformationAboutStudent" asp-route-id="@Model.Students[i].Id" class="btn btn-light">i</a>
                    </td>
                    <td>@(i+1)</td>
                    <td>@(Model.Students[i].LastName) @(Model.Students[i].FirstName)</td>
                    @for (int j = 0; j < Model.DayOfLessons.Count; j++)
                    {
                        <td class="text-center align-middle">
                            @if (Model.Grades.Any(g => g.Student.Id == Model.Students[i].Id && g.Date == Model.DayOfLessons[j]))
                            {                            
                                @Model.Grades.FirstOrDefault(g => g.Student.Id == Model.Students[i].Id && g.Date == Model.DayOfLessons[j])?.Mark
                            }
                        </td>                                               
                    }   
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                @for (int i = 0; i < Model.DayOfLessons.Count; i++)
                {
                    <td class="text-center" width="5%">
                        <a asp-action="EditHomework" asp-route-date="@Model.DayOfLessons[i].ToString("yyyy-MM-dd")" asp-route-schoolClassName="@Model.SchoolClassName" asp-route-subjectName="@Model.SubjectName" class="btn btn-light">ДЗ</a>
                    </td>
                }  
                </tr>
        </tbody>
    </table>
</div>
